-r requirements.txt
coveralls~=3.2
mock~=4.0
mypy==0.910
pre-commit~=2.15
pylint~=2.10
pylint-strict-informational==0.1
pytest~=6.2
pytest-asyncio~=0.15
pytest-cov~=2.12
requests-mock~=1.9
flake8-docstrings~=1.6
flake8~=3.9
